{% extends 'base.html.twig' %}
{% block body %}
    <main class="container px-3">
        <h1>{{ aboutPage.getTitle }}</h1>
        <div class="d-flex flex-wrap">
            {% for item in aboutPageArray %}
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-body">
                        <img src="/images/{{ item.id }}_Milan_650x404.jpg" class="img-thumbnail">
                    </div>
                </div>
            {% endfor %}
            <p class="stb">{{ aboutPage.getDescription }} </p>
            <p class="stb">{{ aboutPage.getFooter }} </p>
        </div>
    </main>

{% endblock %}

