{% extends 'base.html.twig' %}
{% block body %}
    <main class="container px-3">
        <h1>  {{ mainPage.title }} </h1>
        <img id="object-position-1" src="images/{{ mainPage.img }}.jpg" class="img-space" >
        <p class="lead">{{ mainPage.description }} </p>
        <?php endforeach;?>
    </main>
{% endblock %}