{% extends 'base.html.twig' %}
{% block body %}
    <strong> it is cart page</strong>

    <div class="row">
         <div class="col-4">
             {{ form(postForm) }}
         </div>
    </div>

{% endblock %}